<footer>
    <div class = "f-info ">
        <div class="f-icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div>WonderWithUs Private Limited</div>
        <div class="f-info-links">
            <a href = "#">Privacy</a>
            <a href = "#">Terms</a>
        </div>
    </div>
</footer>