<% layout('layouts/boilerplate') -%>
<body>
    <div class="form-container m-5">
        <form method = "post"   class = "offset-3 w-50 needs-validation" novalidate>
          <h3>Create a New Listing</h3>
          <br />
        <div class="mb-3">
            <label for="title" class="form-label">Listing Title</label>
            <input type="text" class="form-control" id="title" name = "listing[title]" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Enter a valid title.
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Listing Description</label>
            <textarea class="form-control" id="description" name = "listing[description]" rows="3" required></textarea>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Enter a valid description.
            </div>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Listing Price</label>
            <input type="number" class="form-control" id="price" name = "listing[price]" required>
          
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Enter a valid price for listing.
            </div>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Listing Image</label>
            <input type="text" class="form-control" id="image" name = "listing[image]" >
            <div class="invalid-feedback">
              Enter a valid image URL!
            </div>
          
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" name = "listing[location]" required>
            <div class="valid-feedback">
              Looks good!
            </div>

            <div class="invalid-feedback">
              Enter a valid location for listing.
            </div>
          
          </div>
          <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" id="country" name = "listing[country]" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Enter a valid country
            </div>
          
          </div>
        <button type = "submit" class = "btn">Create Listing</button>
    </form>
</div>

<script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
