<% layout("layouts/boilerplate") -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <% if(success && success.length){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= success %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
         
        <% } %>
  
        <% if(error && error.length){ %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
           
          <% } %>

    <form action="/login" method="POST" class = "offset-3 w-50">
        <h3>Login</h3>
        <div class = "mb-3">
            <label for="email" class = "form-label">Email</label>
            <input type="email" id="email" name="email" class = "form-control" required>
        </div>
        <div class = "mb-3">
            <label for="password" class = "form-label">Password</label>
            <input type="password" id="password" name="password" class = "form-control" required>
        </div>
        <button class = "btn" type="submit">Login</button>
    </form>
    <br>
    <form action = "/auth/facebook" class = "offset-3">
        <h4>OR</h4>
        <button class = "btn" id = "facebook">
            Login with Facebook
        </button>
    </form>
   
    
</body>
</html>
